In [5]:
print("Hello")

Hello

In [6]:
a = 17
name = "Abdullah"
percent =  86.2

print(type(a))

<class 'int'>

In [7]:
a = 17
name = "Abdullah"
percent =  86.2

print(type(name))

<class 'str'>

In [8]:
name = input("Enter Name: ")

Enter Name:  Abdullah

In [9]:
name = input("Enter Name: ")
print("My name is: ", name)

Enter Name:  Abdullah

My name is:  Abdullah

In [11]:
name = input("Enter Name: ")
print("My name is: ", name)
a = int(input("Enter val 1: "))
b = int(input("Enter val 2: "))
print("Sum of val1 & val2 is : ", a+b)

Enter Name:  Abdullah

My name is:  Abdullah

Enter val 1:  2
Enter val 2:  3

Sum of val1 & val2 is :  5

In [12]:
a = int(input("Enter val 1: "))
b = int(input("Enter val 2: "))
print("Sum of val1 & val2 is : ", a+b)
print("Type of a: ", type(a))
print("Type of b: ", type(b))

Enter val 1:  6
Enter val 2:  9

Sum of val1 & val2 is :  15
Type of a:  <class 'int'>
Type of b:  <class 'int'>

In [13]:
name = input("Enter Name: ")
print("My name is: ", name)
n = len(name)
print("first character: ", name[0])
print("last character: ", name[n-1])
print("middle character: ", name[(n-1)/2])

Enter Name:  Abdullah

My name is:  Abdullah
first character:  A

IndexError: string index out of range

Enter Name:  Abdullah

My name is:  Abdullah
first character:  A
last character:  h

TypeError: string indices must be integers, not 'float'

In [15]:
name = input("Enter Name: ")
print("My name is: ", name)
n = len(name)
print("first character: ", name[0])
print("last character: ", name[n-1])
print("middle character: ", name[int((n-1)/2)])

Enter Name:  Ismailx

My name is:  Ismailx
first character:  I
last character:  x
middle character:  a

In [20]:
my_list = [1, 2, 3, "apple", 4.5]
my_list[1] = 10
my_list.append("banana")
my_list.remove("banana")
print(my_list)

[1, 10, 3, 'apple', 4.5]

In [35]:
my_tuple = (1, 2, 3, 4, 5)
sum = 0
for i in my_tuple:
    print(i)
    sum += i
print("Sum of tuple elements: ", sum)

1
2
3
4
5
Sum of tuple elements:  15

In [44]:
my_list = [0]*10
for i in range(10):
    my_list[i] = int(input("Enter a value: "))

my_set = set(my_list)
print(my_list)
print(my_set)
print("Number of duplicate removed: ", len(my_list) - len(my_set))

Enter a value:  22
Enter a value:  3
Enter a value:  3
Enter a value:  4
Enter a value:  2
Enter a value:  233
Enter a value:  23
Enter a value:  23
Enter a value:  2311
Enter a value:  2

[22, 3, 3, 4, 2, 233, 23, 23, 2311, 2]
{2, 3, 4, 2311, 233, 22, 23}
Number of duplicate removed:  3

In [50]:
my_dict = {
    "name" : "Abdullah",
    "marks" : 90,
    "grade" : ""}

print(my_dict)

if(my_dict["marks"] >= 90):
    my_dict["grade"] = "A+"
elif(my_dict["marks"] >= 80):
    my_dict["grade"] = "A"
elif(my_dict["marks"] >= 70):
    my_dict["grade"] = "B"
elif(my_dict["marks"] >= 60):
    my_dict["grade"] = "C"
elif(my_dict["marks"] >= 50):
    my_dict["grade"] = "D"
else: my_dict["grade"] = "E"

print(my_dict)

{'name': 'Abdullah', 'marks': 90, 'grade': ''}
{'name': 'Abdullah', 'marks': 90, 'grade': 'A+'}

In [64]:
import math

num = int(input("Enter a number: "))
isPrime = True

if num<=1:
    isPrime = False
else:
    for i in range(2, int(math.sqrt(num)) + 1):
        if num%i == 0:
            isPrime = False
            break

print(isPrime)

Enter a number:  19

True

In [61]:
count = 0

for i in range(1,50):
    if(i%2==0):
        print(i)
        count += 1
print("Total even numbers:", count)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
Total even numbers: 24

In [69]:
num = int(input("Enter a number: "))

i = 1

while(i<=10):
    print(f"{num} x {i} =" , num*i)
    i += 1

Enter a number:  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [75]:
def find_max(*args):
    return max(args)

def print_key_values(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} : {value}")

print(find_max(10, 25, 5, 40, 15))

print_key_values(name="Abdullah", age=20, city="New York")

40
name : Abdullah
age : 20
city : New York